@{
    ViewData["Title"] = "Contact";
}

<div class="container mt-5">
    <h1>Contact Us</h1>
    <p>If you'd like to get in touch, feel free to send us a message!</p>

    <img src="https://media.istockphoto.com/id/1458164457/photo/businessman-using-laptop-and-smartphone-with-contact-icons-on-virtual-screen-searching-web.jpg?s=612x612&w=0&k=20&c=MGgwv8LPiylmsFqbT2w2lfY2qTpBmnprS9O3oMjkkS8=" alt="Contact Image" class="img-fluid" />

    <h2>Our Social Media</h2>
    <ul>
        <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
        <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
        <li><a href="https://linkedin.com" target="_blank">LinkedIn</a></li>
    </ul>
</div>